<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Subcategories</title>
</head>
<body>
    <form action="/admin/add-sub-category/<%= categoryId %>" method="post">
        <input type="text" name="subCategoryName" placeholder="Enter subcategory name" required>
        <input type="submit" value="Submit">
    </form>

    <div>
        <% if (subcategories && subcategories.length > 0) { %>
            <% subcategories.forEach((subcategory) => { %>
                <div>
                    <h3><%= subcategory.name %></h3>
                    <a href="/admin/update-sub-category/<%= categoryId %>/<%= subcategory._id  %>">Update</a>
                </div>
            <% }) %>
        <% } else { %>
            <p>No subcategories available.</p>
        <% } %>
    </div>
    <a href="/admin/add-category">Go Back</a>
</body>
</html>